* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #138073;
    background-color: #e6e6e6;
    padding: 0;
    outline: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

ol, 
ul, 
li {
	list-style: none;
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

button, 
a {
	cursor: pointer; 
	color: inherit;
}

textarea {
	resize: none;
}
//reset end

html, body {
    min-height: 100%;
}

#root {
    height: 100vh;
    position: relative;
}


@media screen and (max-width: 500px) {
    #form {
        margin-top: 50%;
    }
    #h3 {
       justify-self: end;
       grid-row: 1;
       grid-column-end: 6;

    }
    #submit {
        grid-row: 5;
        grid-column: 2 / 5;
    }
}
    

#form {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    height: auto;
    max-width: 491px;
    width: 80%;
    grid-template-rows: repeat(5 64px);
    grid-template-columns: 10% 15% 50% 17% 8%;
    display: grid;
    grid-row-gap: 30px;
}

h3 {
    justify-self: center ;
    grid-row: 1;
    grid-column: 3 / 4;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.2em;
}

input[type="text"] {
    grid-row: 2;
    grid-column: 1 / 7;
    border: 1px solid rgb(100, 100, 100);
    background-color: white;
    height: 64px;
}
input[type="email"] {
    grid-row: 3;
    grid-column: 1 / 7;
    border: 1px solid rgb(100, 100, 100);
    background-color: white;
    height: 64px;
}


input[type="checkbox"] {
    grid-row: 4;
    grid-column: 1;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 0%;
    height: 20px;
    width: 20px;
    align-self: center;
}

button {
    margin-top: 20px;
    grid-row: 5;
    grid-column: 3 / 4;
    color: white;
    background-color: #39b69f;
    font-size: 12px;
    height: 64px;
    border: 1px solid white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

::placeholder {
    color: #138073;
    font-weight: 500;
    opacity: 0.6;
    padding-left: 20px;
}
label {
    grid-column: 2 / 7;
    grid-row: 4;
    height: 40px;
}

u {
    text-decoration: underline;
}